.Header {
    position: fixed;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    min-width: 1500px;

    background: #6599FF;
    padding: 5px 10px;

    .image1 {
        width: 150px;
        height: 70px;
    }
    .user {
        display: flex;
        font-size: 18px;
        align-items: center;
        cursor: pointer;

        li {
            padding: 0 20px;
            font-weight: bold;
            color: #ffffff;
        }
        
        a {
            color: #ffffff;
        }
    }
}