@charset "utf-8";

.LeftSide {
  position: fixed;
  float: left;
  width: 220px;
  height: 100vh;
  padding: 10px 15px;
  background-color: #F9F9F9;

  nav.Main {
    float: left;
    position: absolute;
    top: 100px;
    width: 220px;

    a {
      box-sizing: border-box;
      display: block;
      color: #4F4F4F;
      background-color: #ffffff;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      font-size: 1em;
      text-decoration: none;
      border: 1px solid #DADADA;
      
      &:not(:first-child) {
        border-top: none;
      }
  
      &:active {
        text-decoration: none;
      }
    }
  
    :global(a.active) {
      background-color: #6599FF;
      color: #FFFFFF;
      font-weight: bold;
    }
  }
}

