@charset "utf-8";

.LeftSide {
  float: left;
  width: 220px;
  height: 100%;
  padding: 10px 20px;
  background-color: #F9F9F9;
}

nav.Main {
  // float: left;
  // width: 270px;

  a {
    box-sizing: border-box;
    display: block;
    color: #4F4F4F;
    background-color: #ffffff;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 1em;
    text-decoration: none;
    border: 1px solid #DADADA;
    margin-top: -1px;

    &:hover {
      color: #4F4F4F;
      text-decoration: none;
    }

    &:visited {
      color: #4F4F4F;
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
  }

  :global(a.active) {
    background-color: #6599FF;
    color: #FFFFFF;
    font-weight: bold;
  }

}