.wangbody {
    width: 750px;
    height: 840px;
    margin: 10px 10px 0 30px;
    background: #F9F9F9;
    .excel {
        position: absolute;
        width: 150px;
        height: 50px;
        background: #6599FF;
            margin-left: 560px;
            margin-top: 20px;
            border: 1px solid #737373;
            box-sizing: border-box;
            border-radius: 5px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            letter-spacing: 0.15em;
            color: #FFFFFF;
    }
    .searchBar {
        padding: 20px 0 0 30px;
        input {
            width: 500px;
            height: 45px;
        }
        
    }
    .titles {
        display: flex;
        width: 1400px;
        height: 25px;
        padding: 20px 0 0 30px;
        .code {
            width: 120px;
            height: 25px;
            margin: 0 230px 0 100px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height */

            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.05em;

            color: #333333;
        }
        .name {
            width: 100px;
            height: 25px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height */

            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.05em;

            color: #333333;
        }
    }
    .smallBody {
        width: 700px;
        height: 700px;
        overflow: auto;
        margin: 20px 0 0 30px;
        padding: 10px 0 0 20px;
        background: #FFFFFF;
        border: 2px solid #737373;
        box-sizing: border-box;

        .small {
            display: flex;
            align-items: center;
            padding: 0 0 5px 0;
            height: 40px;
            .MediCode {
                width: 100px;
                height: 21px;
                margin: 0 170px 0 80px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                /* identical to box height */

                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.05em;

                color: #333333;
            }
            .MediName {
                width: 250px;
                height: 21px;
    
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                /* identical to box height */
                white-space:nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
                // display: flex;
                align-items: center;
                text-align: center;
    
                color: #333333;
            }
        }
    }
}