@charset "utf-8";
@import "reset.scss";

.Content{
    color: #333333;
    position: absolute;
    top: 120px;
    left: 280px;
    width: 1550px;
    height: 800px;
    display: flex;
    
    .LeftBox{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: flex-end;
        justify-content: space-between;
        text-align: center;

        &.oneBox {
            position: relative;
            background-color: #F9F9F9;
            width: 800px;
            padding: 15px 20px;
            
            .plusIcon {
                position: absolute;
                bottom: 0.8em;
                right: 0.8em;
                background-color: #FFFFFF;
                border-radius: 100%;
            }
        }
    }

    .TopBox, .BottomBox {
        h3 {
            float: left;
            margin: 0;
            line-height: 42px;
        }
        box-sizing: border-box;
        width: 800px;
        height: 49%;
        background-color: #F9F9F9;
        padding: 15px 20px;
        
        table {
            width: 100%;
            margin-top: 5px;
            flex: auto;
            box-sizing: content-box;
            thead {
                width: 100%;
                margin-top: 5px;
                flex: auto;
                box-sizing: content-box;
                display: block;
            }
            tbody {
                height: 270px;
                flex: auto;
                display: block;
                width: 100%;

                border: 1px solid #737373;
                overflow-y: scroll;
                background-color: #ffffff;

                tr {
                    display: block;
                }

                &::-webkit-scrollbar {
                    box-sizing: border-box;
                    width: 7px;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: #b5b5b5;
                    border-radius: 10px;
                    border: 2px solid transparent;
                }
        
                &::-webkit-scrollbar-track {
                    background-color: #dadada;
                }

                
            }
        }
        
    }

    

    .RightBox {
        display: flex;
        flex-direction: column;
        width: 80%;
        box-sizing: border-box;
        padding: 15px 20px;
        margin: 0 20px;
        border: 1px solid #737373;
        
        &.PatientBox {
            width: 750px;
        }

        h2 {
            text-align: center;
            margin: 15px 0;
        }
    }

    input[type=date] {
        border-radius: 0;
        border: 1px solid #737373;
        width: 130px;
        height: 30px;
        line-height: 30px;
        padding: 5px 10px;
    }

    
   
}
