@charset 'utf-8';

.stateBtn {
    display: flex;
    flex-direction: column;
    width: 170px;
    line-height: 50px;

    button {
        cursor: pointer;
        box-sizing: border-box;
        height: 50px;
        background-color: #ffffff;
        border: 1px solid #DADADA;
        text-align: right;
        padding: 10px;
        
        &:not(:first-child){
            border-top: none;
        }

        &.active {
            background-color: #6599FF;
            color: #ffffff;
        }
    }
}