@charset "utf-8";
@import 'Content.scss';

.LeftBox {
    // display: flex;
    // flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    width: 750px;
    height: 850px;
    // padding: 15px 20px;
    // margin: 10px 20px;

    h2 {
        text-align: left;
        float: left;
    }
    .SearchBar {
        float: right;
    }
}
