@charset 'utf-8';

.addr {
    display: flex;
    align-items: flex-start !important;

    
    input[type=text] {
        margin: 5px !important;
    }
}

.Zonecode {
    cursor: default;
}

.AddrBtn {
    margin: 5px 10px;
    border: 1px solid #ccc;
    border-color: #dbdbdb #d2d2d2 #b2b2b2 #d2d2d3;
    cursor: pointer;
    color: #464646;
    border-radius: 0.2em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.3em;
}
.Address {
    cursor: default;
}

.Address,
.DetailAddr {
    display: block;
    width: 95% !important;
}

.Modal {
    position: absolute;
    // top: 30em;
    // right: 13rem;
    // transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    background: #fff;
    color: #333;
    padding: 0.2em;
    outline: 0;

    .Close {
        position: absolute;
        right: -36px;
        padding: 5px 10px;
        background-color: #fff;
        font-size: 20px;
        color: #737373;
        border: 1px solid #c5c5c5;
        border-left: none;
        cursor: pointer;
    }
}

.Overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0);
}