@charset 'utf-8';
.ListTable {
    height: 100%;
    display: block;

    thead, tbody {
        display: block;
        width: 100%;
    }

    tr {
        th {
            padding: 10px 7px;
        }
        .date {
            width: 80px;
        }
        .name, .state{
            width: 110px;
        }
        .gender {
            width: 50px;
        }
        .rrn {
            width: 150px;
        }
        .phone {
            width: 150px; 
        }
    }

    
    tbody {
        height: 93%;
        border: 1px solid #737373;
        overflow-y: scroll;
        background-color: #ffffff;
    }   
}



.Modal {
    position: absolute;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    background: #fff;
    color: #333;
    // padding: 0.2em;
    outline: 0;

    ul {
        text-align: center;

        li {
            padding: 0.5em 1em;
            cursor: pointer;
            &:not(:last-child) {
                border-bottom: 1px solid #c5c5c5;
            }

            &:hover {
                background-color: #6599FF;
                color: #ffffff;
            }
        }
    }
}

.Overlay {
    position: fixed; 
    inset: 0px;
    background-color: rgba(255, 255, 255, 0);
}