@charset 'utf-8';

.timeBtnList {
    font-weight: bold;
    .btnList {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        .timebtn{
            font-size: 18px;
            padding: 5px 10px;
            margin: 0 15px 10px 0;
            background-color: #ffffff;
        
            &.active {
                background-color: #6599FF;
                color: #ffffff;
            }
        }
    
    }

}