@charset "utf-8";

.Searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #737373;
    width: 300px;
    padding: 5px 15px 5px 10px;
    height: 30px;
    margin: 0;
    float: right;

    input {
        border: none;
        width: 100%;
        padding: 5px;
        outline: none;
    }

    .searchIcon {
        color: #737373;
    }
}

