@charset 'utf-8';
.SearchBox {
    float: right;
    input[type=date] {
        margin: 0 10px;
    }
}

.ListTable {

    tr {
        th {
            padding: 5px;
        }
        .date, .updateBtn {
            width: 80px;
        }
        .name, .state{
            width: 100px;
        }
        .gender{
            width: 50px;
        }
        .cancle {
            width: 60px;
            padding-left: 0;
        }
        .rrn, .phone {
            width: 145px;
        }
        .reservationDate {
            width: 145px; 
        }
        
    }


    tbody {
        tr:hover {
            background-color: #d3d3d3;
        }

        td{
            padding: 10px 5px;
            text-align: center;
            &.state {
                cursor: pointer;
                font-weight: bold;
            }
            
            &.treatment {
                color: #25a720;
            }
            
            &.reservation {
                color: #FD8415
            }
            
            &.waiting {
                cursor: default;
                color: #3263ED;
            }
            
            &.finish {
                cursor: default;
                color: #9A9A9A
            }
            button {
                border: none;
                background-color: unset;
                cursor: pointer;
                padding: 0 10px;
            }
        }
    }
}



.Modal {
    position: absolute;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    background: #fff;
    color: #333;
    // padding: 0.2em;
    outline: 0;

    ul {
        text-align: center;

        li {
            padding: 0.5em 1em;
            cursor: pointer;
            &:not(:last-child) {
                border-bottom: 1px solid #c5c5c5;
            }

            &:hover {
                background-color: #6599FF;
                color: #ffffff;
            }
        }
    }

}

.Overlay {
    position: fixed; 
    inset: 0px;
    background-color: rgba(255, 255, 255, 0);
}